[submodule "uSockets"]
	path = uSockets
	url = https://github.com/uNetworking/uSockets.git
[submodule "fuzzing/libEpollFuzzer"]
	path = fuzzing/libEpollFuzzer
	url = https://github.com/uNetworking/libEpollFuzzer
[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/ebiggers/libdeflate
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
[submodule "extern/pybind11_json"]
	path = extern/pybind11_json
	url = https://github.com/pybind/pybind11_json
